.gallery {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  gap: 20px;
  padding: 20px;
}

.card-gallery {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 282px;
  border-radius: 10px;
  border: 1.5px solid rgba(0, 0, 0, 1);
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  margin: auto;
}

.card__image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1;
}

.card__elements {
  max-width: 246px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto 15px auto 21px;
}

.card__text {
  max-width: 244px;
  height: 28px;
  color: rgba(0, 0, 0, 1);
  font-family: "Inter-black";
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  text-decoration: none;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-content: center;
}

.like-button {
  background-image: url(../images/favoriteblack.png);
}

.button-liked {
  width: 21px;
  height: 19px;
  padding: 10px;
  cursor: pointer;
  background-image: url(../images/favoritewhite.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-self: center;
}

.button-liked:hover {
  opacity: 0.5;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.favorite-btn {
  max-width: 20px;
  height: 19px;
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
